.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 8px;
}

.logo-image {
  object-fit: contain;
}

.logo-title {
  font-size: 2.2rem;
  font-weight: 700;
  margin: 0;
  color:#9b59d9;
}

.logo-subtext {
  color: #CA9939; /* red-500 equivalent */
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 8px;
}

.span {
    color: #CA9939;
}



 


    .nav {
    width: 200px;
    margin-left: 20px; 
    margin-right: 0; 
  }

    

